{% extends 'base.html' %}

{% load static %}

{% block container %}
<style type="text/css">
        :root{
            --primaryColor: #F4F4F4;
            --secundaryColor: {{ league.secundaryColor }};
            --terciaryColor: {{ league.terciaryColor }};
        }
    </style>

<div class="page-header" id="banner">
    <div class="row">
        <div class="btn-group" style="margin-left: 20px;">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <span id="selected">Campeonato</span><br/>
                <span class="selected-item">BFA</span>
                <i class="fa fa-xs fa-angle-down selected-angle"></i>
            </button>
            <ul class="dropdown-menu dropdown-team">
                <li><a href="">BFA</a></li>
                <li><a href="">LNFA</a></li>
            </ul>
        </div>
        <div class="btn-group" style="margin-left: 20px;">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <span id="selected">Temporada</span><br/>
                <span class="selected-item">2019</span>
                <i class="fa fa-xs fa-angle-down selected-angle"></i>
            </button>
            <ul class="dropdown-menu dropdown-team">
                <li><a href="">2018</a></li>
                <li><a href="">2017</a></li>
                <li><a href="">2016</a></li>
            </ul>
        </div>
        <div class="btn-group" style="margin-left: 20px;">
            <button type="button" class="btn btn-default dropdown-toggle" style="padding-right: 55px;" data-toggle="dropdown"> <span id="selected">Conferência</span><br/>
                <span class="selected-item">Nordeste</span>
                <i class="fa fa-xs fa-angle-down selected-angle"></i>
            </button>
            <ul class="dropdown-menu dropdown-team">
                <li><a href="">Nordeste</a></li>
                <li><a href="">Centroeste</a></li>
                <li><a href="">Sudeste</a></li>
                <li><a href="">Sul</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-standings">
            <thead class="table-header">
                <tr>
                    <th></th>
                  <th id="group">Ataque</th>
                  <th>P</th>
                </tr>
             </thead>
            <tbody>
                {% for team,points in attack %}
                    <tr>
                        <td id='col'>{{ forloop.counter }}</td>
                        <td id="name"><img class="mini-photo" src="{{ team.logo.url }}">{{ team.name }}</td>
                        <td id="col">{{ points }}</td>
                    </tr>
                {% endfor %}
            </tbody>       
        </table>
    </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-standings">
            <thead class="table-header">
                <tr>
                    <th></th>
                  <th id="group">Defesa</th>
                  <th>P</th>
                </tr>
             </thead>
            <tbody>
                <tr>
                    <td id='col'>1</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">100</td>
                </tr>
                <tr>
                    <td id='col'>2</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">90</td>
                </tr>
                <tr>
                    <td id='col'>3</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">80</td>
                </tr>
                <tr>
                    <td id='col'>4</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">70</td>
                </tr>
                <tr>
                    <td id='col'>5</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">60</td>
                </tr>
                <tr>
                    <td id='col'>6</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">50</td>
                </tr>
                <tr>
                    <td id='col'>7</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">40</td>
                </tr>
                <tr>
                    <td id='col'>8</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">30</td>
                </tr>
                <tr>
                    <td id='col'>9</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">20</td>
                </tr>
                <tr>
                    <td id='col'>10</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">10</td>
                </tr>

            </tbody>       
        </table>
    </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-standings">
            <thead class="table-header">
                <tr>
                    <th></th>
                  <th id="group">Time Especial</th>
                  <th>P</th>
                </tr>
             </thead>
            <tbody>
                <tr>
                    <td id='col'>1</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">100</td>
                </tr>
                <tr>
                    <td id='col'>2</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">90</td>
                </tr>
                <tr>
                    <td id='col'>3</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">80</td>
                </tr>
                <tr>
                    <td id='col'>4</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">70</td>
                </tr>
                <tr>
                    <td id='col'>5</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">60</td>
                </tr>
                <tr>
                    <td id='col'>6</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">50</td>
                </tr>
                <tr>
                    <td id='col'>7</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">40</td>
                </tr>
                <tr>
                    <td id='col'>8</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">30</td>
                </tr>
                <tr>
                    <td id='col'>9</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">20</td>
                </tr>
                <tr>
                    <td id='col'>10</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">10</td>
                </tr>

            </tbody>       
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-standings">
            <thead class="table-header">
                <tr>
                    <th></th>
                  <th id="group">Touchdown</th>
                  <th>P</th>
                </tr>
             </thead>
            <tbody>
                <tr>
                    <td id='col'>1</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">100</td>
                </tr>
                <tr>
                    <td id='col'>2</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">90</td>
                </tr>
                <tr>
                    <td id='col'>3</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">80</td>
                </tr>
                <tr>
                    <td id='col'>4</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">70</td>
                </tr>
                <tr>
                    <td id='col'>5</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">60</td>
                </tr>
                <tr>
                    <td id='col'>6</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">50</td>
                </tr>
                <tr>
                    <td id='col'>7</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">40</td>
                </tr>
                <tr>
                    <td id='col'>8</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">30</td>
                </tr>
                <tr>
                    <td id='col'>9</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">20</td>
                </tr>
                <tr>
                    <td id='col'>10</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">10</td>
                </tr>

            </tbody>       
        </table>
    </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-standings">
            <thead class="table-header">
                <tr>
                    <th></th>
                  <th id="group">Touchdown / Passe</th>
                  <th>P</th>
                </tr>
             </thead>
            <tbody>
                <tr>
                    <td id='col'>1</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">100</td>
                </tr>
                <tr>
                    <td id='col'>2</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">90</td>
                </tr>
                <tr>
                    <td id='col'>3</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">80</td>
                </tr>
                <tr>
                    <td id='col'>4</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">70</td>
                </tr>
                <tr>
                    <td id='col'>5</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">60</td>
                </tr>
                <tr>
                    <td id='col'>6</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">50</td>
                </tr>
                <tr>
                    <td id='col'>7</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">40</td>
                </tr>
                <tr>
                    <td id='col'>8</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">30</td>
                </tr>
                <tr>
                    <td id='col'>9</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">20</td>
                </tr>
                <tr>
                    <td id='col'>10</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">10</td>
                </tr>

            </tbody>       
        </table>
    </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-standings">
            <thead class="table-header">
                <tr>
                    <th></th>
                  <th id="group">Touchdown / Corrida</th>
                  <th>P</th>
                </tr>
             </thead>
            <tbody>
                <tr>
                    <td id='col'>1</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">100</td>
                </tr>
                <tr>
                    <td id='col'>2</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">90</td>
                </tr>
                <tr>
                    <td id='col'>3</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">80</td>
                </tr>
                <tr>
                    <td id='col'>4</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">70</td>
                </tr>
                <tr>
                    <td id='col'>5</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">60</td>
                </tr>
                <tr>
                    <td id='col'>6</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">50</td>
                </tr>
                <tr>
                    <td id='col'>7</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">40</td>
                </tr>
                <tr>
                    <td id='col'>8</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">30</td>
                </tr>
                <tr>
                    <td id='col'>9</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">20</td>
                </tr>
                <tr>
                    <td id='col'>10</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">10</td>
                </tr>

            </tbody>       
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-standings">
            <thead class="table-header">
                <tr>
                    <th></th>
                  <th id="group">Touchdown / Defesa</th>
                  <th>P</th>
                </tr>
             </thead>
            <tbody>
                <tr>
                    <td id='col'>1</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">100</td>
                </tr>
                <tr>
                    <td id='col'>2</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">90</td>
                </tr>
                <tr>
                    <td id='col'>3</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">80</td>
                </tr>
                <tr>
                    <td id='col'>4</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">70</td>
                </tr>
                <tr>
                    <td id='col'>5</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">60</td>
                </tr>
                <tr>
                    <td id='col'>6</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">50</td>
                </tr>
                <tr>
                    <td id='col'>7</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">40</td>
                </tr>
                <tr>
                    <td id='col'>8</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">30</td>
                </tr>
                <tr>
                    <td id='col'>9</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">20</td>
                </tr>
                <tr>
                    <td id='col'>10</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">10</td>
                </tr>

            </tbody>       
        </table>
    </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-standings">
            <thead class="table-header">
                <tr>
                    <th></th>
                  <th id="group">Touchdown / Time Especial</th>
                  <th>P</th>
                </tr>
             </thead>
            <tbody>
                <tr>
                    <td id='col'>1</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">100</td>
                </tr>
                <tr>
                    <td id='col'>2</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">90</td>
                </tr>
                <tr>
                    <td id='col'>3</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">80</td>
                </tr>
                <tr>
                    <td id='col'>4</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">70</td>
                </tr>
                <tr>
                    <td id='col'>5</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">60</td>
                </tr>
                <tr>
                    <td id='col'>6</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">50</td>
                </tr>
                <tr>
                    <td id='col'>7</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">40</td>
                </tr>
                <tr>
                    <td id='col'>8</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">30</td>
                </tr>
                <tr>
                    <td id='col'>9</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">20</td>
                </tr>
                <tr>
                    <td id='col'>10</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">10</td>
                </tr>

            </tbody>       
        </table>
    </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-standings">
            <thead class="table-header">
                <tr>
                    <th></th>
                  <th id="group">Interceptação</th>
                  <th>P</th>
                </tr>
             </thead>
            <tbody>
                <tr>
                    <td id='col'>1</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">100</td>
                </tr>
                <tr>
                    <td id='col'>2</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">90</td>
                </tr>
                <tr>
                    <td id='col'>3</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">80</td>
                </tr>
                <tr>
                    <td id='col'>4</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">70</td>
                </tr>
                <tr>
                    <td id='col'>5</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">60</td>
                </tr>
                <tr>
                    <td id='col'>6</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">50</td>
                </tr>
                <tr>
                    <td id='col'>7</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">40</td>
                </tr>
                <tr>
                    <td id='col'>8</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">30</td>
                </tr>
                <tr>
                    <td id='col'>9</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">20</td>
                </tr>
                <tr>
                    <td id='col'>10</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">10</td>
                </tr>

            </tbody>       
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-standings">
            <thead class="table-header">
                <tr>
                    <th></th>
                  <th id="group">Sack</th>
                  <th>P</th>
                </tr>
             </thead>
            <tbody>
                <tr>
                    <td id='col'>1</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">100</td>
                </tr>
                <tr>
                    <td id='col'>2</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">90</td>
                </tr>
                <tr>
                    <td id='col'>3</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">80</td>
                </tr>
                <tr>
                    <td id='col'>4</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">70</td>
                </tr>
                <tr>
                    <td id='col'>5</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">60</td>
                </tr>
                <tr>
                    <td id='col'>6</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">50</td>
                </tr>
                <tr>
                    <td id='col'>7</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">40</td>
                </tr>
                <tr>
                    <td id='col'>8</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">30</td>
                </tr>
                <tr>
                    <td id='col'>9</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">20</td>
                </tr>
                <tr>
                    <td id='col'>10</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">10</td>
                </tr>

            </tbody>       
        </table>
    </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-standings">
            <thead class="table-header">
                <tr>
                    <th></th>
                  <th id="group">Fumble</th>
                  <th>P</th>
                </tr>
             </thead>
            <tbody>
                <tr>
                    <td id='col'>1</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">100</td>
                </tr>
                <tr>
                    <td id='col'>2</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">90</td>
                </tr>
                <tr>
                    <td id='col'>3</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">80</td>
                </tr>
                <tr>
                    <td id='col'>4</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">70</td>
                </tr>
                <tr>
                    <td id='col'>5</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">60</td>
                </tr>
                <tr>
                    <td id='col'>6</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">50</td>
                </tr>
                <tr>
                    <td id='col'>7</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">40</td>
                </tr>
                <tr>
                    <td id='col'>8</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">30</td>
                </tr>
                <tr>
                    <td id='col'>9</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">20</td>
                </tr>
                <tr>
                    <td id='col'>10</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">10</td>
                </tr>

            </tbody>       
        </table>
    </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-standings">
            <thead class="table-header">
                <tr>
                    <th></th>
                  <th id="group">Safety</th>
                  <th>P</th>
                </tr>
             </thead>
            <tbody>
                <tr>
                    <td id='col'>1</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">100</td>
                </tr>
                <tr>
                    <td id='col'>2</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">90</td>
                </tr>
                <tr>
                    <td id='col'>3</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">80</td>
                </tr>
                <tr>
                    <td id='col'>4</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">70</td>
                </tr>
                <tr>
                    <td id='col'>5</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">60</td>
                </tr>
                <tr>
                    <td id='col'>6</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">50</td>
                </tr>
                <tr>
                    <td id='col'>7</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">40</td>
                </tr>
                <tr>
                    <td id='col'>8</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">30</td>
                </tr>
                <tr>
                    <td id='col'>9</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">20</td>
                </tr>
                <tr>
                    <td id='col'>10</td>
                    <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">Time 1</td>
                    <td id="col">10</td>
                </tr>

            </tbody>       
        </table>
    </div>
</div>
{% endblock %}