{% extends 'base.html' %}

{% load static %}

{% block container %}
<style type="text/css">
        :root{
            --primaryColor: #F4F4F4;
            --secundaryColor: {{ league.secundaryColor }};
            --terciaryColor: {{ league.terciaryColor }};
        }
    </style>

<div class="page-header" id="banner">
    <div class="row">
        <div class="btn-group" style="margin-left: 20px;">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <span id="selected">Campeonato</span><br/>
                <span class="selected-item">{{championship.shortName}}</span>
                <i class="fa fa-xs fa-angle-down selected-angle"></i>
            </button>
            <ul class="dropdown-menu dropdown-team">
                {% for c in championships %}
                    {% if c != championship %}
                        <li><a href="{% url 'statistic:statistic_championship' slug=c.shortName|lower %}">{{c.shortName}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="btn-group" style="margin-left: 20px;">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <span id="selected">Temporada</span><br/>
                <span class="selected-item">{{season.year}}</span>
                <i class="fa fa-xs fa-angle-down selected-angle"></i>
            </button>
            <ul class="dropdown-menu dropdown-team">
                {% for s in seasons %}
                    {% if s != season %}
                        <li><a href="{% url 'statistic:statistic_championship' slug=s.slug %}">{{s.year}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="btn-group" style="margin-left: 20px;">
            <button type="button" class="btn btn-default dropdown-toggle" style="padding-right: 55px;" data-toggle="dropdown"> <span id="selected">Conferência</span><br/>
                <span class="selected-item">
                    {% if conference.name %}
                        {{ conference.name }}
                    {% else %}
                        {{conference}}
                    {% endif %}</span>
                <i class="fa fa-xs fa-angle-down selected-angle"></i>
            </button>
            <ul class="dropdown-menu dropdown-team">
                {% if conference != 'Todas' %}
                    <li><a href="{% url 'statistic:statistic_championship' slug=season.slug %}">Todas</a></li>
                {% endif %}
                {% for conf in conferences %}
                    {% if conf != conference %}
                        <li><a href="{% url 'statistic:statistic_championship' slug=season.slug conference=conf.name %}">{{conf.name}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-standings">
            <thead class="table-header">
                <tr>
                    <th></th>
                  <th id="group">Ataque</th>
                  <th>P</th>
                </tr>
             </thead>
            <tbody>
                {% for team,points in attack %}
                    <tr>
                        <td id='col'>{{ forloop.counter }}</td>
                        <td id="name"><img class="mini-photo" src="{{ team.logo.url }}">{{ team.name }}</td>
                        <td id="col">{{ points }}</td>
                    </tr>
                {% endfor %}
            </tbody>       
        </table>
    </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-standings">
            <thead class="table-header">
                <tr>
                    <th></th>
                  <th id="group">Defesa</th>
                  <th>P</th>
                </tr>
             </thead>
            <tbody>
                {% for team,points in defense %}
                    <tr>
                        <td id='col'>{{ forloop.counter }}</td>
                        <td id="name"><img class="mini-photo" src="{{ team.logo.url }}">{{ team.name }}</td>
                        <td id="col">{{ points }}</td>
                    </tr>
                {% endfor %}
            </tbody>      
        </table>
    </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-standings">
            <thead class="table-header">
                <tr>
                    <th></th>
                  <th id="group">Time Especial</th>
                  <th>P</th>
                </tr>
             </thead>
            <tbody>
                {% for team,points in special %}
                    <tr>
                        <td id='col'>{{ forloop.counter }}</td>
                        <td id="name"><img class="mini-photo" src="{{ team.logo.url }}">{{ team.name }}</td>
                        <td id="col">{{ points }}</td>
                    </tr>
                {% endfor %}
            </tbody>       
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-standings">
            <thead class="table-header">
                <tr>
                    <th></th>
                  <th id="group">Touchdown</th>
                  <th>N</th>
                </tr>
             </thead>
            <tbody>
                {% for team,points in touchdown %}
                    <tr>
                        <td id='col'>{{ forloop.counter }}</td>
                        <td id="name"><img class="mini-photo" src="{{ team.logo.url }}">{{ team.name }}</td>
                        <td id="col">{{ points }}</td>
                    </tr>
                {% endfor %}
            </tbody>       
        </table>
    </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-standings">
            <thead class="table-header">
                <tr>
                    <th></th>
                  <th id="group">Touchdown / Passe</th>
                  <th>N</th>
                </tr>
            </thead>
            <tbody>
                {% for team,number in pass_touchdown %}
                    <tr>
                        <td id='col'>{{ forloop.counter }}</td>
                        <td id="name"><img class="mini-photo" src="{{ team.logo.url }}">{{ team.name }}</td>
                        <td id="col">{{ number }}</td>
                    </tr>
                {% endfor %}
            </tbody>       
        </table>
    </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-standings">
            <thead class="table-header">
                <tr>
                    <th></th>
                  <th id="group">Touchdown / Corrida</th>
                  <th>N</th>
                </tr>
             </thead>
            <tbody>
                {% for team,number in run_touchdown %}
                    <tr>
                        <td id='col'>{{ forloop.counter }}</td>
                        <td id="name"><img class="mini-photo" src="{{ team.logo.url }}">{{ team.name }}</td>
                        <td id="col">{{ number }}</td>
                    </tr>
                {% endfor %}
            </tbody>       
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-standings">
            <thead class="table-header">
                <tr>
                    <th></th>
                  <th id="group">Touchdown / Defesa</th>
                  <th>N</th>
                </tr>
             </thead>
            <tbody>
                {% for team,number in defense_touchdown %}
                    <tr>
                        <td id='col'>{{ forloop.counter }}</td>
                        <td id="name"><img class="mini-photo" src="{{ team.logo.url }}">{{ team.name }}</td>
                        <td id="col">{{ number }}</td>
                    </tr>
                {% endfor %}
            </tbody>       
        </table>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-standings">
            <thead class="table-header">
                <tr>
                    <th></th>
                  <th id="group">Touchdown / Time Especial</th>
                  <th>N</th>
                </tr>
             </thead>
            <tbody>
                {% for team,number in special_team_touchdown %}
                    <tr>
                        <td id='col'>{{ forloop.counter }}</td>
                        <td id="name"><img class="mini-photo" src="{{ team.logo.url }}">{{ team.name }}</td>
                        <td id="col">{{ number }}</td>
                    </tr>
                {% endfor %}
            </tbody>       
        </table>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-standings">
            <thead class="table-header">
                <tr>
                    <th></th>
                  <th id="group">Safety</th>
                  <th>N</th>
                </tr>
            </thead>
            <tbody>
                {% for team,number in safety %}
                    <tr>
                        <td id='col'>{{ forloop.counter }}</td>
                        <td id="name"><img class="mini-photo" src="{{ team.logo.url }}">{{ team.name }}</td>
                        <td id="col">{{ number }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}