{% extends 'base.html' %}

{% load static %}

{% block title %}
	{{title}} | {{block.super}}
{% endblock %}

{% block container %}
	<div class="page-header" id = "banner">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-inline">
                {% for c in championships%}
                    <li>
                        <a href="{% url 'championship:seasonRedirect' slug=c.shortName|lower %}" style="text-decoration: none;">
                            <div class="championship-logo" style="background-color: {{c.primaryColor}}">
                                <img src="{% if c.logo %} {{c.logo.url}} {% endif %}" />
                                <p>{{ c.shortName }}</p>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}