{% extends 'base.html' %}

{% load static %}

{% load modulo %}
{% load dayBefore %}

{% block title %}
    {{title}} | {{block.super}}
{% endblock %}

{% block container %}
    <style type="text/css">
        :root{
            --primaryColor: {{ league.primaryColor }};
            --secundaryColor: {{ league.secundaryColor }};
            --terciaryColor: {{ league.terciaryColor }};
        }
    </style>
</style>

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="banner-team">
                    <img class="img-responsive banner-team-logo" src="{% if league.logo %} {{league.logo.url}} {% endif %}"/>
                    <div class="molde">
                        <img class="img-responsive banner-team-transparent-logo" src="{% if league.logo %} {{league.logo.url}} {% endif %}"/>
                    </div>
                    <p class="banner-league-name">{{league.shortName}}</p>
                    <a href="{{league.facebook}}"class="fa fa-lg fa-facebook-square social-media-banner-league"></a>
                    <a href="{{league.instagram}}" class="fa fa-lg fa-instagram social-media-banner-league"></a>
                </div>
                <div class="btn-group" style="margin-left: 20px;">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <span id="selected">Temporada</span><br/>
                        <span class="selected-item">{{ season.year }}</span>
                        <i class="fa fa-xs fa-angle-down selected-angle"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-team">
                        {% for s in seasons %}
                            {% if s != season %}
                                <li><a href="{% url 'championship:seasonRedirect' slug=s.slug %}">{{ s.year }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="btn-group" style="margin-left: 20px;">
                    <button type="button" class="btn btn-default dropdown-toggle" style="padding-right: 55px;" data-toggle="dropdown"> <span id="selected">Fase</span><br/>
                        <span class="selected-item">Grupos</span>
                        <i class="fa fa-xs fa-angle-down selected-angle"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-team">
                        <li><a href="{% if playoff_link%}{% url 'championship:season' slug=season.slug week=playoff_link.slug %}{% endif %}">Playoffs</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    {% for conference in conferences %}
                        <div class="conference">
                            <h2 class="conference-league">Conferência {{ conference.name }}</h2>
                                {% for division in divisions %}
                                {% if division.conference == conference %}
                            <table class="table table-standings">
                                <thead class="table-header">
                                    <tr>
                                      <!--<th>P</th>-->
                                      <th id="group">{{ division.name }}</th>
                                      <th>V</th>
                                      <th>D</th>
                                      <th>E</th>
                                      <th>P+</th>
                                      <th>P-</th>
                                      <th>S</th>
                                    </tr>
                                 </thead>

                                {% for campaign in campaigns %}
                                {% if campaign.division == division %}
                                <tbody>
                                    <tr>
                                        <!--<td id='position'></td>-->
                                        <td id="name"><img class="mini-photo" src="{{ campaign.team.logo.url }}">{{ campaign.team }}</td>
                                        <td id="col">{{ campaign.victories }}</td>
                                        <td>{{ campaign.defeats }}</td>
                                        <td id="col">{{ campaign.draws }}</td>
                                        <td>{{ campaign.atkPoints }}</td>
                                        <td id="col">{{ campaign.dfPoints }}</td>
                                        <td>{{ campaign.atkPoints|add:campaign.dfPoints }}</td>
                                    </tr>
                                </tbody>
                                {% endif %}
                                {% endfor %}        
                            </table>
                            {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>

                <div class="col-lg-4 col-md-8 col-sm-8 facebook-mobile">
                    <div class="top-schedule" style="margin-top: 54px;">
                        {% if weekBefore %}
                            <a href="{% url 'championship:season' slug=season.slug week=weekBefore %}" onclick="ScrollSneak"><i class="fa fa-2x fa-angle-left angle-schedule pull-left"></i></a>
                        {% endif %}
                        <h3>{{ rounds.first.phase }}</h3>
                        {% if nextWeek %}
                            <a href="{% url 'championship:season' slug=season.slug week=nextWeek %}" onclick="ScrollSneak"><i class="fa fa-2x fa-angle-right angle-schedule pull-right"></i></a>
                        {% endif %}
                        <p>
                        {% if rounds.first.week %}
                            {% dayBefore rounds.first.week %} e {{ rounds.first.week|date:'d F' }}
                        {% endif %}
                        </p>
                    </div>

                    {% for rounds.first, game in games.items %}
                        {% for g in game%}
                            <ul class="list-inline schedule">
                                <li class="game-schedule">
                                    <img class="mini-photo" src="{% if g.teamA.logo %} {{g.teamA.logo.url}} {% endif %}"/> {{ g.teamA.initials }} 
                                    <div class="score-schedule">{% if g.ended %} {{ g.scoreA }} {% endif %}</div>
                                    <div style="font-size:10pt; font-family:opensans bold; display:inline-block;vertical-align:middle;">x</div>
                                    <div class="score-schedule">{% if g.ended %} {{ g.scoreB }} {% endif %}</div>{{ g.teamB.initials }}<img class="mini-photo" src="{%if g.teamB.logo %} {{g.teamB.logo.url}} {% endif %}"/>
                                </li>
                            </ul>
                        {% endfor %}
                    {% endfor %}
                     
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Plugin do facebook-->
    <div id="fb-root"></div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.0';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}