body{
    padding-top:50px
}
#banner{
    border-bottom:none
}

/* ================== News =========================*/
.page-header h1{
    font-size:28pt;
    color: #333;
    font-family: opensans bold, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing:-3px;
}

.author-news{
    font-family: opensans bold, sans-serif;
    color: #939393;
    font-size: 12pt;
    text-align: left;
    margin-bottom: -5px;
    letter-spacing: -1px;
}
.date-news{
    font-family: opensans, sans-serif;
    color: #939393;
    font-size: 10pt;
    text-align: left;
    margin-bottom: 10px;
}

.subtitle{
    background-color: #e8e8e8;
    color: #818181;
    font-size: 10pt;
    margin: 0 0 0px;
}

.read-more{
    background-color: #F3F3F3;
    border-top: 1px solid #94e204;
    padding-bottom: 30px;
}

.read-more > p{
    color: #94e204;
    text-align: center;
    font-family: opensans bold, sans-serif;
}

.read-more-link{
    text-decoration: none;
    background-color: #fff;
    text-align: center;
}
.read-more-link > a{
    color: #333;
}
/* ================== End News =====================*/

/* ================== List News ==================== */

.news-preview{
    list-style: none;
    margin-top: 20px;
    margin-bottom: 50px;
}

.news-preview-photo{
    max-width: 200px;
    float:left;
}

.news-preview-title{
    display: block;
    font-family: opensans bold, sans-serif;
    font-size: 12pt;
    margin-left: 210px;
    padding-top: 10px;
    letter-spacing: -1px;
}

.news-preview-text{
    font-family: opensans semibold, sans-serif;
    font-size: 10pt;
    color: #939393;
    margin-left: 210px;
    margin-top: 0px;
    height: 50px;
    overflow: hidden;
    letter-spacing: 0px;
    line-height:1em;
}

.news-preview-date{
    font-family: opensans light, sans-serif;
    font-size: 10pt;
    color: #939393;
    margin-left: 210px;
}


@media(max-width: 450px){
    
    .news-preview-photo{
        max-width: 250px;
        float:left;
    }

    .news-preview-title{
        margin-left: 0px;
        margin-right: 30px;
    }

    .news-preview-date{
        margin-left: 0px;
        margin-right: 30px;
    }

    .news-preview-text{
        margin-left: 0px;
        margin-right: 30px;
    }

    .facebook-mobile{
        text-align: center;
    }

}
/* ============ End News =====================*/

/* =================== Leia mais sobre seu time ===============*/

.menu-leia-mais{
    margin-top: 20px;
    margin-bottom:0px;
    padding:10px;
    background-color: #94e204;
    color: #fff;
    font-family: opensans bold, sans-serif;
    font-size:12pt;
    text-align: center;
    letter-spacing: -1px;
}
.menu-leia-mais > i{
    margin-right: 10px;
}

.camp-leia-mais{
    font-family: opensans light, sans-serif;
    font-size:10pt;
    color:#939393;
    text-align: center;
    padding: 0px;
    line-height: 2em;
}

.leia-mais > ul{
    margin-left:1px;
    margin-right: 1px;
    margin:0px;
}

.camp-leia-mais > li{
    margin:-2px;
    min-width: 50%;
    border: 1px #939393 solid;
}

.tabela-time-leia-mais{
    border: 1px #939393 solid;
    background-color: #fff;
}

.time-leia-mais{
    padding:5px;
}

@media (max-width: 767px){
    .table-responsive{
        border: 1px #939393 solid;
        background-color: #fff;
        }
}

.tabela-time-leia-mais{
    border: 1px #939393 solid;
    background-color: #fff;
}

.time-leia-mais{
    padding:5px;
    background-color: #fff;
    border: #fff;
}

/* =================== End Leia mais sobre seu time ===========*/

/*==================== Team ===================================*/
.banner-team{
    margin:20px;
    height: 150px;
    background: linear-gradient(var(--secundaryColor), var(--primaryColor));
}

.banner-team-logo{
    display: block;
    float:left;
    max-width:150px;
    margin-left:20px;
    margin-right: 20px;
}
.banner-team-city{
    color:var(--terciaryColor);
    font-family: opensans light;
    font-size: 16pt;
    margin:0px;
    padding-top: 30px;
    letter-spacing: -1.5px;
    line-height: 1em;
    display: block;
    text-transform: uppercase;
}
.banner-team-name{
    color:var(--terciaryColor);
    font-family: opensans extrabold;
    font-size: 26pt;
    margin:0px;
    margin-left: 187px;
    letter-spacing: -1.5px;
    line-height: 1em;
    text-transform: uppercase;
    position: absolute;
}
.molde{
    width: 400px;
    height: 150px;
    overflow: hidden;
    float: right;
}
.banner-team-transparent-logo{
    float: right;
    opacity: 0.15;
    max-width: 400px;
    margin-top: -120px;
    position: relative;
}
.social-media-banner{
    color: var(--terciaryColor);
    text-decoration: none;
    margin-top:10px;
    margin-bottom: 20px;   
}
a.social-media-banner:hover, 
a.social-media-banner:focus{
    color: var(--terciaryColor);
    text-decoration: none;
    margin-bottom: 20px;
}
a.social-media-banner{
    margin-top:40px;
}

.menu-team{
    padding: 5px;
    padding-top: 0px;
    list-style: none;
}

.menu-team > li{
    margin-bottom: 5px;
    text-align: left;
    background-color:var(--primaryColor);
}
.menu-team > li > a{
    padding:10px;
    color: var(--terciaryColor);
    font-family: opensans regular;
    font-size: 14pt;
    text-decoration: none;
    line-height: 1.5em;
    letter-spacing: -1.5px;
}

.menu-team > li > a > i{
    padding:5px;
}

.menu-team > li:hover,
.menu-team > li:focus{
    border: 1px solid var(--primaryColor);
    background-color: #fff;
    color: var(--primaryColor);
    text-decoration: none;
}

.menu-team > li > a:hover,
.menu-team > li > a:focus{
    color: var(--primaryColor);
    text-decoration: none;
}

.selected-item{
    font-family: Bebas neue;
    font-size: 20pt;
    color:#30302f;
    letter-spacing: -2px;
}
.selected-angle{
    font-size:15pt;
    color:#30302f;
    margin-left:10px;
    margin-bottom: 20px;
    position: absolute;
}

.schedule{
    border: 1px solid #acacac;
    margin-top:5px;
    margin-bottom: 5px;
    line-height: 0.8em;
    text-align: center;
}

.date-schedule{
    font-family: Bebas Neue;
    font-size: 15pt;
    float:left;
    padding-top: 10px;
    color:#6b6b6b;
}
.photo-schedule{
    max-width: 30px;
    margin-left:5px;
    margin-right:5px;
}
.score-schedule{
    font-family: Bebas neue;
    font-size: 18pt;
    display: inline-block;
    color: #6b6b6b;
}
.game-schedule{
    font-family: Bebas Neue;
    font-size:18pt;
    display: inline-block;
    text-transform: uppercase;
    text-align:center;
}
.time-schedule{
    font-family: bebas neue;
    font-size: 15pt;
    float: right;
    padding-top: 10px;
    color:#6b6b6b;
}
.dropdown-menu-team > li > a{
    font-family: bebas neue;
}

.watch-more{
    background-color: #F3F3F3;
    padding-bottom: 30px;
}

.watch-more > p{
    color: #30302f;
    text-align: center;
    font-family: opensans bold, sans-serif;
}

.watch{
    margin-bottom: 20px;
}

.table-history > tbody > tr > td{
    text-align: left;
    border-bottom: 1px solid;
}
.table-history > tbody > tr > td[id*="col"]{
    background-color: #f3f3f3;
    font-family: opensans bold;
    letter-spacing: -1px;
    font-size: 14pt;
}
.table-hover > tbody > tr:hover > td[class*="col-"],
.table-hover > tbody > tr:hover > th[class*="col-"]{
  background-color:#94e204;
}
/*==================== End Team ===================================*/
.bs-docs-section{
    margin-top:8em
}
.bs-component{
    position:relative
}
.bs-component .modal{
    position:relative;
    top:auto;
    right:auto;
    left:auto;
    bottom:auto;
    z-index:1;
    display:block
}
.bs-component .modal-dialog{
    width:90%
}
.bs-component .popover{
    position:relative;
    display:inline-block;
    width:220px;
    margin:20px
}
#source-button{
    position:absolute;
    top:0;
    right:0;
    z-index:100;
    font-weight:bold
}
.progress{
    margin-bottom:10px
}
footer{
    margin:5em 0
}
footer li{
    float:left;
    margin-right:1.5em;
    margin-bottom:1.5em
}
footer p{
    clear:left;
    margin-bottom:0
}
.splash{
    padding:4em 0 2em;
    background-color:#1c2533;
    background:-webkit-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
    background:-o-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
    background:-ms-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
    background:-moz-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
    background:linear-gradient(20deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
    background-attachment:fixed;
    color:#fff;
    text-align:center
}
.splash h1{
    font-size:4em
}
.splash #social{
    margin:2em 0
}
.splash .alert{
    margin:2em 0
}
.splash .bsa{
    max-width:350px;
    margin:0 auto;
    background:none
}
.splash .bsa .one .bsa_it_ad{
    border:1px solid #3e4653 !important;
    border-color:rgba(255,255,255,0.2) !important
}
.splash .bsa a{
    color:#fff
}
.section-tout{
    padding:4em 0 3em;
    border-top:1px solid rgba(255,255,255,0.1);
    border-bottom:1px solid rgba(0,0,0,0.1);
    background-color:#eaf1f1
}
.section-tout .fa{
    margin-right:.5em
}
.section-tout p{
    margin-bottom:3em
}
.section-preview{
    padding:4em 0 4em
}
.section-preview .preview{
    margin-bottom:4em;
    background-color:#eaf1f1;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:6px
}
.section-preview .preview .image{
    padding:5px
}
.section-preview .preview .image img{
    border:1px solid rgba(0,0,0,0.1)
}
.section-preview .preview .options{
    text-align:center;
    padding:0 2em 2em
}
.section-preview .preview .options p{
    margin-bottom:2em
}
.section-preview .dropdown-menu{
    text-align:left
}
.section-preview .lead{
    margin-bottom:2em
}
@media (max-width:767px){
    .section-preview .image img{
        width:100%
    }
}
.sponsor img{
    border:1px solid rgba(0,0,0,0.1);
    border-radius:4px
}
.sponsor a:hover{
    text-decoration:none
}
.bsa{
    padding:0
}
.bsa .one .bsa_it_ad{
    border:none !important;
    background-color:transparent !important
}
.bsa .one .bsa_it_ad .bsa_it_t,.bsa .one .bsa_it_ad .bsa_it_d{
    color:inherit !important
}
.bsa .one .bsa_it_ad .bsa_it_i{
    margin-bottom:0 !important
}
.bsa .one .bsa_it_p{
    display:none
}

/* =============== Social Media ================= */

.social-media{
    color: #30302f;
    text-decoration: none;
}
.social-media > a:hover,
.social-media > a:focus {
  text-decoration: none;
  color: #fff;
  background: #fff;
  display: block;
}
/* =============== End Social Media ==============*/

/* =============== Fonts =========================*/
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans Light';
  src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'OpenSans Regular';
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'OpenSans Semibold';
  src: url('../fonts/OpenSans-Semibold.ttf');
}
@font-face {
  font-family: 'OpenSans Bold';
  src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'OpenSans ExtraBold';
  src: url('../fonts/OpenSans-ExtraBold.ttf');
}
/* ================== End fonts ====================*/