{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}FABR Network {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/custom.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
  </head>
  <body>
    <div class="container">
      <div class="pull-left logo hidden-sm hidden-md hidden-xs">
        <a href="{% url 'index' %}"><img class="img-responsive" src="{% static 'img/fabr-logo.png' %}" style="height:100px; margin-bottom:10px;"></a>
      </div>
      <div class="pull-right searchbox hidden-sm hidden-md hidden-xs">
        <ul class="nav navbar-nav social-media">
          <li class="social-media">
            <a href="https://www.facebook.com/fabrnetwork/" class="fa fa-facebook-square fa-lg social-media"></a>
          </li>
          <li class="social-media">
            <a href="https://www.instagram.com/fabrnetwork/" class="fa fa-instagram fa-lg social-media"></a>
          </li>
          <li class="social-media">
            <a href="https://www.twitter.com/fabrnetwork/" class="fa fa-twitter-square fa-lg social-media"></a>
          </li>
          <!--<li>
            <form class="navbar-form navbar-right">
            <input type="text" class="form-control col-lg-8" placeholder="Pesquise">
            <span class="">
              <button class="btn btn-info fa fa-search" type="button"/>
            </span>
            </form>
          </li>-->
        </ul>
        
      </div>
    </div>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="container">
            <div class="pull-left hidden-lg">
              <a href="{% url 'index' %}"><img class="img-responsive" style="max-width:100px;" src="{% static 'img/fabr-logo.png' %}" style="height:100px; margin-bottom:10px;"></a>
            </div>
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="top-menu">
                    <a href="{% url 'championship:season' 'bfa-2018' %}">
                        <img src="{% static 'img/top-menu/bfa.png' %}"> 
                        BFA
                    </a>
                </li>
                <li class="top-menu">
                    <a href="{% url 'championship:season' 'lnfa-2018' %}">
                        <img src="{% static 'img/top-menu/lnfa.png' %}"> 
                        LNFA
                    </a>
                </li>
                <!--<li class="top-menu">
                    <a href="{% url 'championship:season' 'bfa-2018' %}">
                        <img src="{% static 'img/top-menu/estaduais.png' %}"> 
                        Estaduais
                    </a>
                </li> -->
                <li class="top-menu">
                  <a href="{% url 'team:teams' %}">
                        <img src="{% static 'img/top-menu/times.png' %}"> 
                        Times
                    </a>
                </li>
                <li class="top-menu">
                    <a href="{% url 'news:news_list' %}">
                        <img src="{% static 'img/top-menu/noticias.png' %}"> 
                        Notícias
                    </a>
                </li>
                <!--<li class="top-menu">
                    <a href="#">
                        <img src="{% static 'img/top-menu/estatisticas.png' %}"> 
                        Estatísticas
                    </a>
                </li>
                <li class="top-menu">
                    <a href="{% url 'compacts' %}">
                        <img src="{% static 'img/top-menu/compactos.png' %}"> 
                        Compactos
                    </a>
                </li>
                <li class="top-menu">
                    <a href="#">
                        <img src="{% static 'img/top-menu/loja.png' %}"> 
                        Loja
                    </a>
                </li> -->
                <li class="top-menu">
                    <a href="{% url 'contact' %}">
                        <img src="{% static 'img/top-menu/contato.png' %}"> 
                        Contato
                    </a>
                </li>
            </ul>
      
        </div>
      </div>
    </div>
  </div>
  </div>
    <div class="container">
      {% block container %}
      {% endblock %}
    </div>
    {% block footer %}
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
        <div class="row">
          <a href="{% url 'index' %}">
            <img src="{% static 'img/fabr-logo.png' %}" class="img-responsive fabr-logo-gray">
          </a>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <ul class="nav flex-column">
              <li class="nav-item"><a href="{% url 'team:teams' %}">TIMES</a></li>
              <li class="nav-item">Lorem Ipsum</li>
              <li class="nav-item">Lorem Ipsum</li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <ul class="nav flex-column">
              <li class="nav-item"><a href="{% url 'news:news_list' %}">NOTÍCIAS</a></li>
              <li class="nav-item">Lorem Ipsum</li>
              <li class="nav-item">Lorem Ipsum</li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <ul class="nav flex-column">
              <li class="nav-item"><a href="{% url 'championship:season' 'bfa-2018' %}">CLASSIFICAÇÃO</a></li>
              <li class="nav-item">Lorem Ipsum</li>
              <li class="nav-item">Lorem Ipsum</li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <ul class="nav flex-column">
              <li class="nav-item"><a href="{% url 'contact' %}">CONTATO</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          </div> 
        </div>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
      </div>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'assets/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/usebootstrap.js' %}"></script>

  </body>
</html>
