{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135013867-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-135013867-1');
  </script>

  <!-- Google AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-8365485118032891",
      enable_page_level_ads: true
    });
  </script>

    <meta charset="utf-8">
    <title>{% block title %}FABR Network {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/custom.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
  </head>
  <body>
    <div class="container">
      <div class="pull-left logo hidden-sm hidden-md hidden-xs">
        <a href="{% url 'index' %}"><img class="img-responsive" src="{% static 'img/fabr-logo.png' %}" style="height:100px; margin-bottom:10px;"></a>
      </div>
      <div class="pull-right searchbox hidden-sm hidden-md hidden-xs">
        <ul class="nav navbar-nav social-media">
          <li class="social-media">
            <a href="https://www.facebook.com/fabrnetwork/" class="fa fa-facebook-square fa-lg social-media" target="_blank"></a>
          </li>
          <li class="social-media">
            <a href="https://www.instagram.com/fabrnetwork/" class="fa fa-instagram fa-lg social-media" target="_blank"></a>
          </li>
          <li class="social-media">
            <a href="https://www.twitter.com/fabrnetwork/" class="fa fa-twitter-square fa-lg social-media" target="_blank"></a>
          </li>
          <!--<li class="social-media">
              <a href="https://www.youtube.com/fabrhighlights1" class="fa fa-youtube-play fa-lg social-media" target="_blank"></a>
            </li>
          <li>
            <form class="navbar-form navbar-right">
            <input type="text" class="form-control col-lg-8" placeholder="Pesquise">
            <span class="">
              <button class="btn btn-info fa fa-search" type="button"/>
            </span>
            </form>
          </li>-->
        </ul>
        
      </div>
    </div>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="container">
            <div class="pull-left hidden-lg">
              <a href="{% url 'index' %}"><img class="img-responsive" style="max-width:100px;" src="{% static 'img/fabr-logo.png' %}" style="height:100px; margin-bottom:10px;"></a>
            </div>
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="top-menu {% if request.resolver_match.view_name in 'championship:season' or request.resolver_match.view_name in 'championship:championship_list' %}current_page{% endif %}">
                    <a href="{% url 'championship:championship_list' %}">
                        <img src="{% static 'img/top-menu/campeonatos.png' %}" style="margin-left:7px;"> 
                        <span>Campeonatos</span>
                    </a>
                </li>
                <li class="top-menu {% if request.resolver_match.view_name in 'team:teams' %}current_page{% endif %}">
                  <a href="{% url 'team:teams' %}">
                        <img src="{% static 'img/top-menu/times.png' %}"> 
                        <span>Times</span>
                    </a>
                </li>
                <li class="top-menu {% if request.resolver_match.view_name in 'news:news_list' %}current_page{% endif %}">
                    <a href="{% url 'news:news_list' %}">
                        <img src="{% static 'img/top-menu/noticias.png' %}"> 
                        <span>Notícias</span>
                    </a>
                </li>
                <li class="top-menu" >
                    <a href="{% url 'statistic:statisticRedirect' %}" id="estatistica">
                        <img src="{% static 'img/top-menu/estatisticas.png' %}"> 
                        <span>Estatísticas</span>
                    </a>
                </li>
                <!-- <li class="top-menu">
                  <a id="compactos">
                        <img src="{% static 'img/top-menu/compactos.png' %}"> 
                        <span>Compactos  <i style="font-size:1.2rem; padding-bottom:2px;" class="fa fa-lock"></i></span>
                    </a>
                </li>-->
                <li class="top-menu">
                  <a href="{% url 'store' %}">
                        <img src="{% static 'img/top-menu/loja.png' %}"> 
                        <span>Loja</span>
                    </a>
                </li>
                <li class="top-menu {% if request.resolver_match.view_name in 'contact' %}current_page{% endif %}">
                    <a href="{% url 'contact' %}">
                        <img src="{% static 'img/top-menu/contato.png' %}"> 
                        <span>Contato</span>
                    </a>
                </li>
            </ul>
      
        </div>
      </div>
    </div>
  </div>
  </div>
    <div class="container">
      {% block container %}
      {% endblock %}
    </div>
    {% block footer %}
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
        <div class="row">
          <a href="{% url 'index' %}">
            <img src="{% static 'img/logo-mono.png' %}" class="img-responsive fabr-logo-gray">
          </a>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <ul class="nav flex-column footer-list">
              <li class="nav-item"><a href="{% url 'team:teams' %}">TIMES</a></li>
              <li class="nav-item"><a href="{% url 'team:teams' %}">1º Divisão</a></li>
              <li class="nav-item"><a href="{% url 'team:teams' %}">2º Divisão</a></li>
              <li class="nav-item"><a href="{% url 'team:teams' %}">Outros</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <ul class="nav flex-column footer-list">
              <li class="nav-item"><a href="{% url 'news:news_list' %}">NOTÍCIAS</a></li>
              <li class="nav-item"><a href="{% url 'news:news_list' %}">Últimas</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <ul class="nav flex-column footer-list">
              <li class="nav-item"><a href="{% url 'championship:seasonRedirect' 'bfa' %}">CAMPEONATO</a></li>
              <li class="nav-item"><a href="{% url 'championship:seasonRedirect' 'bfa' %}">1º Divisão</a></li>
              <li class="nav-item"><a href="{% url 'championship:seasonRedirect' 'bfa' %}">2º Divisão</a></li>
              <li class="nav-item"><a href="{% url 'championship:seasonRedirect' 'bfa' %}">Estaduais</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <ul class="nav flex-column footer-list">
              <li class="nav-item"><a href="{% url 'contact' %}">CONTATO</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          </div> 
        </div>
          <br/>
          <br/>
          <br/>
          <div class="row">
            <h3 class="copyright">Copyright 2017-2018-2019 FABR Network, Haim Ferreira e Filipe Medeiros | Todos os direitos reservados</h3>
          </div>
      </div>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'assets/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/usebootstrap.js' %}"></script>
    <script src="{% static 'js/scroll-sneak.js' %}"></script>

  </body>
</html>
