{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}FABR Network {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/custom.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
  </head>
  <body>
    <div class="container">
      <div class="pull-left hidden-sm hidden-md hidden-xs">
        <a href="{% url 'index' %}"><img class="img-responsive" src="{% static 'img/fabr-logo.png' %}" style="height:100px; margin-bottom:10px;"></a>
      </div>
      <div class="pull-right hidden-sm hidden-md hidden-xs" style="margin-top: 60px;">
        <ul class="nav navbar-nav">
          <li class="social-media">
            <a href="https://www.facebook.com/fabrnetwork/" class="fa fa-facebook-square fa-lg social-media"></a>
          </li>
          <li class="social-media">
            <a href="https://www.instagram.com/fabrnetwork/" class="fa fa-instagram fa-lg social-media"></a>
          </li>
          <li class="social-media">
            <a href="https://www.twitter.com/fabrnetwork/" class="fa fa-twitter-square fa-lg social-media"></a>
          </li>
          <li>
            <form class="navbar-form navbar-right">
            <input type="text" class="form-control col-lg-8" placeholder="Pesquise">
            <span class="">
              <button class="btn btn-info fa fa-search" type="button"/>
            </span>
            </form>
          </li>
        </ul>
        
      </div>
    </div>
    <div class="container">
    <div class="navbar navbar-default">
      <div class="container">
        <div class="pull-left hidden-lg">
          <a href="{% url 'index' %}"><img class="img-responsive" style="max-width:100px;" src="{% static 'img/fabr-logo.png' %}" style="height:100px; margin-bottom:10px;"></a>
        </div>
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          
		  <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Times <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="#">Example 1</a></li>
                <li><a href="#">Example 2</a></li>
                <li><a href="#">Example 3</a></li>
              </ul>
            </li>
            <li>
              <a href="{% url 'news:news_list' %}">Notícias</a>
            </li>
            <li>
              <a href="#">Classificação</a>
            </li>
            <li>
              <a href="#">Agenda</a>
            </li>
            <li>
              <a href="#">Estatísticas</a>
            </li>
            <li>
              <a href="{% url 'compare' %}">Compare</a>
            </li>
            <li>
              <a href="{% url 'compacts' %}">Compactos</a>
            </li>
            <li>
              <a href="{% url 'contact' %}">Contato</a>
            </li>
		  </ul>
		  
        </div>
      </div>
    </div>
  </div>
  </div>
    <div class="container">
      {% block container %}
      {% endblock %}
      
      {% block footer %}
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
      {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'assets/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/usebootstrap.js' %}"></script>

  </body>
</html>
