{% extends 'base.html' %}

{% block title %}
	Contato | {{block.super}}
{% endblock %}

{% load static %}

{% block container %}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contato">
      <p>
        Redação
      </p>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contato-card">
        <ul class="list-inline">
          <li><i class="fa fa-lg fa-whatsapp"></i></li>
          <li><p class="contato-info">(81) 98656-5939 / (51) 99831-2930</p></li>
        </ul>
        <ul class="list-inline">
          <li><i class="fa fa-lg fa-envelope-o"></i></li>
          <li><p class="contato-info">REDAÇÃO@FABRNETWORK.COM</p></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contato">
      <p>
        Desenvolvimento
      </p>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contato-card">
        <ul class="list-inline">
          <li><i class="fa fa-lg fa-whatsapp"></i></li>
          <li><p class="contato-info">(81) 99940-7622 / (81) 99998-3836 / (81) 99703-1371</p></li>
        </ul>
        <ul class="list-inline">
          <li><i class="fa fa-lg fa-envelope-o"></i></li>
          <li><p class="contato-info">Estatísticas@FABRNETWORK.COM</p></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contato">
      <p>
        Redes sociais
      </p>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contato-card">
        <ul class="list-inline">
          <li><a href="https://www.facebook.com/fabrnetwork/" class="fa fa-facebook-square fa-lg social-media" style="margin-right:8px;"></a></li>
          <li><p class="contato-info">/FABRNETWORK</p></li>
        </ul>
        <ul class="list-inline">
          <li><a href="https://www.instagram.com/fabrnetwork/" class="fa fa-instagram fa-lg social-media"></a></li>
          <li><p class="contato-info">@FABRNETWORK</p></li>
        </ul>
        <ul class="list-inline">
          <li><a href="https://www.twitter.com/fabrnetwork/" class="fa fa-twitter-square fa-lg social-media"></a></li>
          <li><p class="contato-info">@FABRNETWORK</p></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}