{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}FABR Network {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/custom.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
  </head>
  <body style="padding:0px;">
    <div class="col-lg-12 hidden-md hidden-sm hidden-xs" style="padding:0px;">
      <img src="{% static 'img/manutencao.jpg' %}" class="img-responsive manutencao">
      <a href="https://www.facebook.com/fabrnetwork/"><img src="{% static 'img/facebook.png'%}" class="facebook-manutencao" ></a>
      <a href="https://www.instagram.com/fabrnetwork/"><img src="{% static 'img/instagram.png'%}" class="instagram-manutencao" ></a>
    </div>
    <div class="col-md-12 hidden-lg hidden-sm hidden-xs" style="padding:0px;">
      <img src="{% static 'img/manutencao_tablet.jpg' %}" class="img-responsive manutencao"/>
      <a href="https://www.facebook.com/fabrnetwork/"><img src="{% static 'img/facebook.png'%}" class="facebook-manutencao" ></a>
      <a href="https://www.instagram.com/fabrnetwork/"><img src="{% static 'img/instagram.png'%}" class="instagram-manutencao" ></a>
    </div>
    <div class="col-lg-sm col-xs-12 hidden-lg hidden-md" style="padding:0px;">
      <img src="{% static 'img/manutencao_mobile.jpg' %}" class="img-responsive manutencao"/>
      <a href="https://www.facebook.com/fabrnetwork/"><img src="{% static 'img/facebook.png'%}" class="facebook-manutencao" ></a>
      <a href="https://www.instagram.com/fabrnetwork/"><img src="{% static 'img/instagram.png'%}" class="instagram-manutencao" ></a>
    </div>

  </body>
</html>
