{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}FABR Network {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/custom.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
  </head>
  <body style="padding:0px;">

    <img src="{% static 'img/manutencao.png' %}" class="responsive-img" style="max-width:1000px;display:block; margin:auto;">

  </body>
</html>
