{% extends 'base.html' %}

{% load static %}

{% block title %}
	{{team.name}} | {{block.super}}
{% endblock %}

{% block container %}
	<style type="text/css">
		:root{
			--primaryColor: {{ team.primaryColor }};
			--secundaryColor: {{ team.secundaryColor }};
			--terciaryColor: {{ team.terciaryColor }};
		}

	</style>

	<div class="page-header" id="banner">
        <div class="row">
        	<div class="col-lg-12 col-md-12 col-sm-12">
	    		<div class="banner-team">
        			<img class="img-responsive banner-team-logo" src="{% if team.logo %} {{team.logo.url}} {% endif %}"/>
        			<div class="molde">
        				<img class="img-responsive banner-team-transparent-logo" src="{% if team.logo %} {{team.logo.url}} {% endif %}"/>
        			</div>
        			<p class="banner-team-city">{{weakName}}</p>
        			<p class="banner-team-name">{{team.shortName}} - {{team.city.uf}}</p>
        			<a href="{{team.facebook}}"class="fa fa-lg fa-facebook-square social-media-banner"></a>
        			<a href="{{team.instagram}}" class="fa fa-lg fa-instagram social-media-banner"></a>
        		</div>
				<div class ="col-lg-3 col-md-3 col-sm-3">
					<ul class="menu-team">
						<a href="{% url 'team:team' slug=team.slug %}"><li>Elenco<i class="fa fa-lg fa-angle-right pull-right"></i></li></a>
						
						<!--<li><a href="">Estatísticas<i class="fa fa-lg fa-angle-right pull-right"></i></a></li>
						<li><a href="{% url 'team:schedule' slug=team.slug %}">Agenda<i class="fa fa-lg fa-angle-right pull-right"></i></a></li>
						<li><a href="{% url 'team:compact' slug=team.slug %}">Compactos<i class="fa fa-lg fa-angle-right pull-right"></i></a></li>
						<li><a href="{% url 'team:campaign' slug=team.slug %}">Campanhas<i class="fa fa-lg fa-angle-right pull-right"></i></a></li>
						-->
						<a href="{% url 'team:history' slug=team.slug %}"><li>História<i class="fa fa-lg fa-angle-right pull-right"></i></li></a>
					</ul>		
				</div>
				<div class="col-lg-9 col-md-9 col-sm-9">
					{% block middle %} {% endblock %}	
				</div>
			</div>
		</div>
	</div>
{% endblock %}