{% extends 'base_team.html' %}

{% load static %}

{% block middle %}
	<table class="table table-history">
		<tbody>
			<tr>
				<td class="col-lg-4 col-md-3 col-sm-3 col-xs-3" id="col">Fundação</td>
				<td class="col-lg-8 col-md-9 col-sm-9 col-xs-9">13/05/2011 (7 anos)</td>
			</tr>
			<tr>
				<td class="col-lg-4 col-md-3 col-sm-3 col-xs-3" id="col">Cidade</td>
				<td class="col-lg-8 col-md-9 col-sm-9 col-xs-9">Sorriso</td>
			</tr>
			<tr>
				<td class="col-lg-4 col-md-3 col-sm-3 col-xs-3" id="col">Estado</td>
				<td class="col-lg-8 col-md-9 col-sm-9 col-xs-9">Mato-Grosso</td>
			</tr>
			<tr>
				<td class="col-lg-4 col-md-3 col-sm-3 col-xs-3" id="col">Títulos nacionais</td>
				<td class="col-lg-8 col-md-9 col-sm-9 col-xs-9">LNFA(2017)</td>
			</tr>
			<tr>
				<td class="col-lg-4 col-md-3 col-sm-3 col-xs-3" id="col">Títulos estaduais</td>
				<td class="col-lg-8 col-md-9 col-sm-9 col-xs-9">MT(2017)</td>
			</tr>
		</tbody>		
	</table>

{% endblock %}