{% extends 'base_team.html' %}

{% load static %}

{% block middle %}
	<table class="table table-history">
		<tbody>
			<tr>
				<td class="col-lg-4 col-md-3 col-sm-3 col-xs-3" id="col">Fundação</td>
				<td class="col-lg-8 col-md-9 col-sm-9 col-xs-9">
					{% if team.foundation %}
						{{ team.foundation }}
					{% endif %}
				</td>
			</tr>
			<tr>
				<td class="col-lg-4 col-md-3 col-sm-3 col-xs-3" id="col">Cidade</td>
				<td class="col-lg-8 col-md-9 col-sm-9 col-xs-9">{{ team.city }}</td>
			</tr>
			<tr>
				<td class="col-lg-4 col-md-3 col-sm-3 col-xs-3" id="col">Títulos</td>
				<td class="col-lg-8 col-md-9 col-sm-9 col-xs-9">
					{% for trophy in titles %}
						{{ trophy }} {% if not forloop.last %},  {% endif %}
					{% endfor %}
				</td>
			</tr>
		</tbody>		
	</table>

{% endblock %}