{% extends 'base_team.html' %}

{% load static %}
{% load dayBefore %}

{% block middle %}
<div class="row">
	<div class="btn-group" style="margin-bottom:30px;">
		<button type="button" 	class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <span id="selected">Temporada</span><br/>
		<span class="selected-item">{{ current_season }}</span>
		<i class="fa fa-xs fa-angle-down selected-angle"></i>
		</button>
		<ul class="dropdown-menu dropdown-team">
            {% for season in seasons %}
                <li><a href="{% url 'team:schedule_year' slug=team.slug year=season %}">{{season}}</a></li>
            {% endfor %}
        </ul>
	</div>
</div>
<div class="row">
	
	{% for game in games %}
		<ul class="list-inline schedule">
			<li class="date-schedule align-middle">
				{% dayBefore game.week.week %}/{{game.week.week|date:'d F'}}
			</li>
			<li class="game-schedule">
				<img class="mini-photo" src="{% if game.teamA.logo %} {{game.teamA.logo.url}} {% endif %}"/> {{game.teamA.shortName}} 
				<div class="score-schedule">{% if game.ended %} {{ game.scoreA }} {% endif %}</div>
				<div style="font-size:12pt; font-family:bebas neue; display:inline-block;vertical-align:middle; padding-top:5px;">x</div>
				<div class="score-schedule">{% if game.ended %} {{ game.scoreB }} {% endif %}</div>
				{{game.teamB.shortName}}<img class="mini-photo" src="{% if game.teamB.logo %} {{game.teamB.logo.url}} {% endif %}"/>
			
			</li>
		</ul>
	{% endfor %}
</div>
{% endblock %}