{% extends 'base.html' %}

{% block title %}
    Times | {{block.super}}
{% endblock %}

{% load static %}


{% block container %}
    <div class="page-header" id = "banner">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-3"></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="padding-right: 45px"> <span id="selected">Divisão</span><br/>
                            <span class="selected-item">{{ category.name }}</span>
                            <i class="fa fa-xs fa-angle-down selected-angle"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-team">
                            {% for c in categories %}
                                {% if c != category %}
                                    <li><a href="{% url 'team:teams_category' slug=c.name %}">{{ c.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-3"></div>
            </div>

            <div class="row">
                <div class="card card-body">
                    <ul class="list-inline">    
                        {% for team in teams %}
                            <li>
                                <a href="{% url 'team:team' slug=team.slug %}" ><img title="{{ team.name }}" src="{% if team.logo %} {{team.logo.url}} {% endif %}" class="list-teams"></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
  </div>
{% endblock %}
