{% extends 'base.html' %}

{% block title %}
	{{new.title}} | {{block.super}}
{% endblock %}

{% load static %}

{% block container %}
      <div class="page-header" id="banner">
        <div class="row">
        	<div class="col-lg-2 col-md-2 col-sm-2"></div>
        	<div class="col-lg-8 col-md-8 col-sm-8">
	            <h1>{{new.title}}</h1>
	            <p class="author-news">
	            	{{new.author.first_name}} {{new.author.last_name}}
	            </p>
	            <p class="date-news">
	            	{{new.date | date:"d/m/Y" }}
	            </p>
	            <img class="img-responsive" src="{{new.photo.url}}"/>
	            <p class="subtitle"><i class="fa fa-camera"></i> {{ new.subtitle }}</p>
	            <p>{{ new.text | safe }}</p>
				
				<div class="read-more">
					<p> Leia também </p>
		            {% for read in read_more %}
						<ul class="news-preview">
							<li class="news-preview-photo">
							  <a href="{{ read.get_absolute_url }}">
							    <img class="img-responsive news-preview-photo" src="{{read.photo.url}}">
							  </a>
							</li>
							<li class="news-preview-title">
							  {{read.title}}
							</li>
							<li class="news-preview-text">
							  {{read.text | truncatewords:22 | safe }}
							</li>
							<li class="news-preview-date">
							  {{read.date | date:"d/m/Y" }}
							</li>
						</ul>
		            {% endfor %}
		            <div class="col-lg-2 col-md-2 col-sm-2"></div>
		            <div class="col-lg-8 col-md-8 col-sm-8 read-more-link"><a href="{% url 'news:news_list' %}"><i class="fa fa-chevron-down"></i></a></div>
		            <div class="col-lg-2 col-md-2 col-sm-2"></div>
	            </div>
	            <br/>
	            <br/>
	            <br/>
	            <br/>
          	</div>
        	<div class="col-lg-2 col-md-2 col-sm-2"></div>
        </div>
      </div>
{% endblock %}