{% extends 'base.html' %}

{% block title %}
	{{new.title}} | {{block.super}}
{% endblock %}

{% load static %}

{% block container %}
      <div class="page-header" id="banner">
        <div class="row">
        	<div class="col-lg-2 col-md-2 col-sm-2"></div>
        	<div class="col-lg-8 col-md-8 col-sm-8">
	            <h1>{{new.title}}</h1>
	            <p class="author-news">
	            	{{new.author}}
	            </p>
	            <p class="date-news">
	            	{{new.date}}
	            </p>
	            <img class="img-responsive" src="{% static 'img/example.jpg' %}"/>
	            <br/>
	            <p>
	            	{{ new.text | linebreaks }}
				</p>
				<br/>
				<br/>
          	</div>
        	<div class="col-lg-2 col-md-2 col-sm-2"></div>
        </div>
      </div>
{% endblock %}