{% extends 'base.html' %}

{% block title %}
	{{title}} | {{block.super}}
{% endblock %}

{% load static %}

{% block container %}
      <div class="page-header" id="banner">
        <div class="row">
        	<div class="col-lg-8 col-md-8 col-sm-8">
            {% for new in news %}

              <ul class="news-preview">
                <li class="news-preview-photo">
                  <a href="{{new.slug}}">
                    {% if new.photo %}
                    <img class="img-responsive news-preview-photo" src="{{new.photo.url}}">
                    {% endif %}
                  </a>
                </li>
                <li class="news-preview-title">
                  {{new.title}}
                </li>
                <li class="news-preview-text">
                  {{new.text | safe }}
                </li>
                <li class="news-preview-date">
                  {{new.date | date:"d/m/Y" }}
                </li>
              </ul>
            {% endfor %}
             
            <ul class="pagination">
              <li>
                <a href="#">«</a>
              </li>
              <li>
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">4</a>
              </li>
              <li>
                <a href="#">5</a>
              </li>
              <li>
                <a href="#">»</a>
              </li>
            </ul>
        	</div>
			<div class="col-lg-4 col-md-8 col-sm-8 facebook-mobile">
        <div class="leia-mais">
          <p class="menu-leia-mais"><i class="fa fa-shield"></i> LEIA MAIS SOBRE SEU TIME</p>
          <ul class="list-inline camp-leia-mais">
            <li class="leia-mais">BFA</li>
            <li class="leia-mais">LNFA</li>
          </ul>
          <div class="table-responsive leia-mais">
            <table class="table tabela-time-leia-mais">
              <tr>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
              </tr>
              <tr>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
              </tr>
              <tr>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
              </tr>
              <tr>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
              </tr>
              <tr>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
              </tr>
              <tr>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
              </tr>
              <tr>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
                <th class="time-leia-mais">
                  <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
                </th>
              </tr>
            </table>
          </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
			 <div class="fb-page img-responsive" style="" data-href="https://www.facebook.com/fabrnetwork/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/fabrnetwork/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/fabrnetwork/">FABR Network</a></blockquote></div>
			</div>        	
    </div>
  </div>

  <!--Plugin do facebook-->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.12';
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

{% endblock %}