{% extends 'base.html' %}

{% block title %}
	{{title}} | {{block.super}}
{% endblock %}

{% load static %}

{% block container %}
      <div class="page-header" id="banner">
        <div class="row">
        	<div class="col-lg-8 col-md-8 col-sm-8">
            {% for new in news %}

              <ul class="news-preview">
                <a href="{{new.slug}}"><li>
                  <img class="img-responsive news-preview-photo" src="{{new.photo.url}}">
                </li>
                </a>
                <li class="news-preview-title">
                  {{new.title}}
                </li>
                <li class="news-preview-date">
                  {{new.date}}
                </li>
                <li class="news-preview-text">
                  {{new.text | safe}}
                </li>
              </ul>
            {% endfor %}
            <!-- 
            <ul class="pagination">
              <li>
                <a href="#">Primeira</a>
              </li>
              <li>
                <a href="#">Anterior</a>
              </li>
              <li>
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">4</a>
              </li>
              <li>
                <a href="#">5</a>
              </li>
              <li>
                <a href="#">...</a>
              </li>
              <li>
                <a href="#">Próxima</a>
              </li>
              <li>
                <a href="#">Última</a>
              </li>
            </ul> -->
        	</div>
			<div class="col-lg-4 col-md-8  col-sm-8 facebook-mobile">
        <div class="">
          <p class=""><i class="fa fa-shield"></i> Leia mais sobre seu time</p>
          <img class="img-responsive" src="{% static 'img/storm.png' %}"/>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
			 <div class="fb-page img-responsive" style="margin-right: 20px;" data-href="https://www.facebook.com/fabrnetwork/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/fabrnetwork/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/fabrnetwork/">FABR Network</a></blockquote></div>
			</div>        	
    </div>
  </div>

  <!--Plugin do facebook-->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.12';
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

{% endblock %}